.headtext {
  font-family: '60s Scoreboard', sans-serif;
  font-weight: bold;
  font-size: 25px;

  color: #fbe6e6;

    text-shadow: 0 0 5px #ff0000,
                0 0 10px #ff0000,
                0 0 20px #ff0000;
  
}


.headliner {
  left: 0px;
  scroll-behavior: smooth;
  position: fixed;
  height: 50px;
}

.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(252, 202, 202); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  max-width: 265px;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.about {
  max-width: 100px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(252, 202, 202); }
}


h3 {
    font-size: xx-large;
    color:rgb(252, 202, 202);
    text-align: left;
    font-family: 'Bitstream Vera Sans Mono', sans-serif;
    font-weight: 100;
    font-size: xx-large;
    overflow-wrap: break-word;
}

body {
    background-image: linear-gradient(rgb(76, 90, 75), rgb(82, 64, 64));
    justify-content: center;
    flex-direction: row;
}

h1 {
    font-family: '60s Scoreboard', sans-serif;
    color:rgb(252, 202, 202);
    font-size: 25px;
}

.introducing {
  padding: 4.5%;
  background-color: #2b2b2b6c;
  border-radius: 15px;
  margin: 2%;
  display: inline-flex;
  max-width: auto;
  max-height: auto;
}

.top_sec {
  align-content: center;
  display: flex;
  max-width: auto;
  max-height: auto;
}

.zoom:hover {
  transform: scale(1.05); 
}

.next {
  display: block;
  padding-left: 20px;
}

.neiloy {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.established {
    font-style: italic;
    color:#35ba71;
    font-size: 18px;
}


.now {
  padding: 4.5%;
  background-color: #2b2b2b6c;
  border-radius: 15px;
  margin: 2%;
  display: inline-flex;
  max-width: auto;
  max-height: auto;
}

.hands_full {
  color:rgb(202, 252, 220);
  font-size: medium;
  font-family: 'Bitstream Vera Sans Mono', sans-serif;
  word-wrap: break-word;
  max-width: 100%;
  text-align: justify;
}

.phototext {
  color: rgb(202, 252, 220);
  font-family: 'Bitstream Vera Sans Mono', sans-serif;
  font-size: medium;
  display: inline-block;
}

.texterr {
  display: inline-block;
  color: rgb(202, 252, 220);
  font-size: 30px;
}

h2 {
    color:rgb(202, 229, 252);
}


.social {
    height: 50px;
    width: 50px;
    justify-content: right;
}

.contact_section {
  background-color: rgba(253, 253, 253, 0.625);
  width: 50px;
  height: 158px;
  display: block;
  z-index: 11; 
  position: fixed; 
  right: 2%;
  top: 10%;
  border-radius: 10px;
}

a {
  color: rgb(225, 169, 225);
}